body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    font-family: "Space Grotesk", sans-serif;
    /* max-width: 420px;
    display: flex;
    align-items: center;
    flex-direction: column; */
  }

  *, *::before, *::after {
    box-sizing: inherit;
  };
  .menuItems {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 10px;
    list-style-type: none;
  }
  a.signleMenuItem {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
.game_container{
  border-top-left-radius: 8px; 
  border-top-right-radius: 8px; 
}

/* At the top level of your code */
@media screen and (max-width: 600px) {
  .game_container{
   width: 100%;
   /* justify-content: center; */
   align-items: center
  }
}
  
@tailwind base;
@tailwind components;
@tailwind utilities;